.mainWrapper {
  box-shadow: 0 0 9px 0px #00000024;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding-bottom: 6px;
}

#main {
  margin-top: 100px;
}