.banner {
    border: 1px solid;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 60px;
    padding: 20px;
    border-radius: 20px;
}
.bannerImage {
    border-radius: 150px;
    margin-right: 5%;
}
.bannerTitle {
    margin-bottom: 10px;
}
.bannerDescription {
    line-height: 24px;
}