.banner {
    border: 1px solid transparent;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 60px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 9px 0px #00000024;
}
.bannerImage {
    border-radius: 150px;
    margin-right: 5%;
}
.bannerTitle {
    margin-bottom: 10px;
}
.bannerDescription {
    line-height: 24px;
}